@import "../variables.scss";

.mat-select-arrow {
  border: 0px !important;
}

header {
  width: 100%;
  position: relative;
  z-index: 999;
}

.btn {
  box-shadow: none !important;
  border: 0;
}

* {
  font-family: "Grotesque";
  font-weight: 500;
  a {
    display: inline-block;
  }
  p {
    margin: 0;
  }
  h2 {
    font-size: 35px;
  }
  .dropdown-toggle::after {
    display: none !important;
  }
  .dropup .dropdown-toggle::after {
    display: none !important;
  }
}

.divider {
  width: 1px;
  height: 30px;
  background: $gray-light;
}

.cinema__btn {
  background: $purple-gradient-light;
  padding: 7px 30px;
  border-bottom: 3px solid $purple-shadow;
  color: $white;
  font-size: 18px;
  font-weight: 600;
  border-radius: 10px;
  &:hover {
    opacity: 0.9;
    border: none;
    color: $white;
  }
}

// Header
.cinema__header {
  overflow: visible !important;
  background: $purple-gradient;
  padding: 10px 30px;
  .lnr {
    font-size: 35px;
    color: $white;
  }
  .center__navbar {
    @media screen and (min-width: 768px) {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
  .right__navbar {
    a {
      font-size: 10px;
    }
    .custom-select {
      appearance: none;
      background: url("../assets/img/arrow-down.svg") 90% / 10% no-repeat;
      width: unset;
      color: white;
      border: none;
      box-shadow: none;
      position: relative;
    }
  }
  .nav-item {
    width: 100%;
    text-align: right;
    @media screen and (min-width: 768px) {
      width: unset;
    }

    &:hover a {
      color: $yellow-primary;
    }
    a {
      color: $white;
      justify-content: flex-end;
      font-size: 20px;
    }
  }
}

// Carousel
.cinema__carousel {
  height: 520px;
  .carousel-inner {
    img {
      width: 100%;
      height: 520px;
    }
  }
}

// Ticker Form
.cinema__ticketform {
  position: relative;
  height: 70px;
  top: -30px;
  margin: 0 auto;
  width: 780px;
  background: $white;
  box-shadow: 0px 6px 20px -10px rgba(0, 0, 0, 0.75);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  .btn__container {
    width: 100%;
    height: 100%;
    padding: 0 25px;
    .cinema__btn {
      margin: auto 0;
      transition: all 0.3s;
      &.order__ticket {
        transition: all 0.7s;
        background: rgb(255, 217, 0);
        border-bottom-color: rgb(216, 165, 27);
        color: $black;
      }
    }
    .cinema__dropdown {
      .dropdown-menu.show {
        transform: translate(0px, 27px) !important;
      }
      padding: 0 !important;
      .btn {
        width: 95%;
        text-align: left;
        padding: 0;
        font-size: 16px;
        font-weight: 500;
        transform: none;
        .lnr {
          color: $yellow-primary;
        }
        p {
          font-size: 18px;
          text-transform: none;
          margin: 0;
          text-overflow: ellipsis;
          overflow: hidden;
          white-space: nowrap;
        }
      }
      ul {
        border-radius: 5px;
        width: max-content;
        margin: 0 !important;
        top: 80% !important;
        max-height: 350px;
        overflow-y: scroll;
        .dropdown__header {
          padding: 0;
          padding-left: 10px;
          font-size: 15px;
        }
        p {
          font-size: 16px;
          background: none;
          padding: 5px;
          margin: 0;
        }
        li {
          padding: 3px 5px;
          a {
            display: block;
            font-size: 16px;
            padding: 0 5px;
          }
          &:hover {
            background: $yellow-primary;
          }
        }
      }
    }
  }
}

// Movie Gallery
.cinema__movie {
  .movie__container {
    .nav {
      justify-content: center;
      margin: 40px 0;
      a.active {
        font-weight: 600;
        color: $white;
        text-transform: uppercase;
        border: 1px solid $purple-primary;
        width: 200px;
        background-color: $purple-primary;
      }
      a {
        color: $black;
        transition: all 0.3s;
        width: 150px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid $purple-primary;
        background-color: $white;
        &:hover {
          font-weight: 600;
        }
      }
      .current__movie {
        a {
          border-radius: 10px 0 0 10px;
        }
      }
      .upcoming__movie {
        a {
          border-radius: 0 10px 10px 0;
        }
      }
    }

    .tab-content {
      padding: 0 20px;
      display: flex;
      justify-content: center;
      .tab__grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-gap: 15px;
        @media screen and (min-width: 986px) {
          grid-gap: 25px;
        }
      }
      .movie__item {
        position: relative;
        @media screen and (min-width: 986px) {
          min-height: 220px;
          width: 170px;
        }

        img {
          border-radius: 12px;
          width: 100%;
          height: 100%;
        }
        .movie__content {
          margin-top: 10px;
          position: relative;
          .btn {
            position: absolute;
            transition: 0.3s;
            opacity: 0;
            visibility: hidden;
            top: 0;
            left: 0;
            margin: 0;
            border: 0;
            width: 100%;
            font-size: 16px;
            @media screen and (min-width: 986px) {
              font-size: 18px;
            }
            @media screen and (min-width: 868px) {
              font-size: 17px;
            }
          }
          h5,
          p {
            display: none;
            color: $black-text;
            @media screen and (min-width: 545px) {
              display: block;
              opacity: 1;
              visibility: visible;
            }
            transition: 0.3s;
          }
          h5 {
            font-size: 17px;
            @media screen and (min-width: 986px) {
              font-size: 18px;
            }
            line-height: 20px;
            height: 40px;
            font-weight: 600;
            width: 100%;
            overflow: hidden;
            text-overflow: ellipsis;
          }
          p {
            font-size: 14px;
            @media screen and (min-width: 986px) {
              font-size: 16px;
            }

            margin: 0;
          }
        }
        .movie__img {
          width: 170px;
          border-radius: 12px;
          overflow: hidden;
          height: 220px;
          position: relative;
          .overlay {
            transition: 0.4s;
            height: 150%;
            width: 170%;
            position: absolute;
            top: 65%;
            left: -140%;
            transform: rotate(45deg);
            background: $yellow-primary;
            a {
              color: $black;
              .lnr {
                font-size: 2vw;
                @media screen and (min-width: 986px) {
                  font-size: 18px;
                }
                transition: 0.3s;
                position: absolute;
                left: 48%;
                top: 2%;
                transform: rotate(75deg);
              }
            }
          }
        }
        &:hover {
          .movie__content {
            .btn {
              display: none;
              @media screen and (min-width: 545px) {
                display: block;
                opacity: 1;
                visibility: visible;
              }
            }
            h5,
            p {
              opacity: 0;
              visibility: hidden;
            }
          }
          .movie__img {
            .overlay {
              height: 150%;
              opacity: 0.9;
              top: -25%;
              left: -40%;
              .lnr {
                left: 53%;
                top: 49%;
                transform: translate(-50%, -50%) rotate(75deg);
                font-size: 35px;
              }
            }
          }
        }
      }
    }
  }
}

.cinema__movie {
  .slick-next,
  .slick-prev {
    background-color: $yellow-primary;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    transition: all 0.4s;
    &:before {
      font-family: "Linearicons-Free";
      color: black;
      transition: all 0.4s;
    }
    &:hover {
      background: $purple-gradient;
      &::before {
        color: white;
      }
    }
  }
  .slick-next {
    right: -70px;
    &:before {
      content: "\e87a";
      font-size: 30px;
    }
  }
  .slick-prev {
    left: -70px;
    &:before {
      content: "\e879";
      font-size: 30px;
    }
  }

  .carousel {
    width: 760px;
    margin: 0 auto;
  }
  .slide {
    width: 170px !important;
    margin: 10px 10px;
    .btn {
      display: none;
    }
    h5 {
      font-size: 18px !important;
      margin: 0;
      color: $black-text;
    }
    p {
      font-size: 16px !important;
      color: $black-text;
    }
    &:hover {
      .movie__content {
        .btn {
          display: none;
          @media screen and (min-width: 545px) {
            display: block;
            opacity: 1;
            visibility: visible;
          }
        }
        h5,
        p {
          opacity: 0;
          visibility: hidden;
        }
      }
      .movie__img {
        .overlay {
          height: 150%;
          opacity: 0.9;
          top: -25%;
          left: -40%;
          .lnr {
            left: 53%;
            top: 49%;
            transform: translate(-50%, -50%) rotate(75deg);
            font-size: 35px;
          }
        }
      }
    }
  }
  .movie__content {
    margin-top: 10px;
    position: relative;
    text-align: left;
    .btn {
      position: absolute;
      transition: 0.3s;
      opacity: 0;
      visibility: hidden;
      top: 0;
      left: 0;
      margin: 0;
      border: 0;
      width: 100%;
      font-size: 16px;
      @media screen and (min-width: 986px) {
        font-size: 18px;
      }
      @media screen and (min-width: 868px) {
        font-size: 17px;
      }
    }
    h5,
    p {
      display: none;
      @media screen and (min-width: 545px) {
        display: block;
        opacity: 1;
        visibility: visible;
      }
      transition: 0.3s;
    }
    h5 {
      font-size: 17px;
      @media screen and (min-width: 986px) {
        font-size: 18px;
      }
      line-height: 20px;
      height: 40px;
      font-weight: 600;
      width: 100%;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    p {
      font-size: 14px;
      @media screen and (min-width: 986px) {
        font-size: 16px;
      }

      margin: 0;
    }
  }
  .movie__img {
    width: 170px;
    border-radius: 12px;
    overflow: hidden;
    height: 220px;
    position: relative;
    img {
      height: 220px;
      width: 170px;
    }
    .overlay {
      transition: 0.4s;
      height: 150%;
      width: 170%;
      position: absolute;
      top: 65%;
      left: -140%;
      transform: rotate(45deg);
      background: $yellow-primary;
      a {
        color: $black;
        .lnr {
          font-size: 2vw;
          @media screen and (min-width: 986px) {
            font-size: 18px;
          }
          transition: 0.3s;
          position: absolute;
          left: 48%;
          top: 2%;
          transform: rotate(75deg);
        }
      }
    }
  }
}

// Cinema Ad
.cinema__ad {
  margin: 50px 180px;
}

// Cinema Form
.cinema__cinemaform {
  flex-direction: column;
  width: 100%;
  align-items: center;
  padding: 0 20px;
  h2 {
    font-weight: 600;
    display: inline;
    margin-bottom: 40px;
    position: relative;
    &:after {
      content: "";
      position: absolute;
      transition: all 0.4s;
      width: 100%;
      height: 3px;
      border-radius: 10px;
      background: $purple-gradient-light;
    }
  }
  .cinemaform__container {
    background: $bg;
    border-radius: 12px;
    border: 1px solid $border;
    .nav__main {
      padding: 15px 0;
      border-bottom: 1px solid $border;
      .nav-link {
        margin: 0 15px;
        height: 65px;
        width: 65px;
        padding: 0;
        border-radius: 50%;
        &:hover {
          img {
            opacity: 1;
          }
        }
        &.active {
          position: relative;
          img {
            opacity: 1;
          }
          &:after {
            content: "";
            position: absolute;
            bottom: -10px;
            left: 50%;
            transform: translateX(-50%);
            width: 6px;
            height: 6px;
            border-radius: 50%;
            background: $purple-primary;
          }
        }
        img {
          opacity: 0.5;
          height: 100%;
          width: 100%;
        }
      }
    }
    .tab-content {
      height: 500px;
      & > .active {
        display: flex;
        flex-direction: row;
      }

      .tab-pane {
        .nav__overflow {
          height: 500px;
          overflow-y: scroll;
          .nav {
            padding: 10px;
            height: 100%;
            border-right: 1px solid $border;
            flex-direction: column;
            .nav-link {
              width: 100%;
              background: $bg;
              border-radius: 0;
              border-bottom: 1px solid $border;
              opacity: 0.5;
              &.active,
              &:hover {
                opacity: 1;
              }

              .brand__branch {
                width: 45px;
                height: 45px;
                margin-top: 5px;
                img {
                  width: 100%;
                  height: 100%;
                }
              }
              .branch__info {
                flex-direction: column;
                width: 150px;
                p,
                span {
                  font-size: 11px;
                  margin: 0;
                  color: $black-text;
                }
                .branch__name {
                  font-size: 13px;
                  line-height: 13px;
                  color: $purple-primary;
                  span {
                    font-size: 13px;
                  }
                }
                .branch__address {
                  text-overflow: ellipsis;
                  overflow: hidden;
                  white-space: nowrap;
                }
                .branch__more {
                  color: $orangered;
                  display: table;
                  &:hover {
                    color: $purple-light;
                  }
                }
              }
            }
          }
        }

        .tab-content {
          height: 500px;
          overflow-y: scroll;
        }
      }
      .tab-content {
        width: 610px;
        overflow: hidden;
        overflow-y: scroll;
        .branch__container {
          border-bottom: 1px solid $border;
        }
        .branch__movie {
          padding: 10px;
          .branch__movieinfo {
            cursor: pointer;
            img {
              width: 50px;
              height: 50px;
            }
            h3 {
              font-size: 19px;
              font-weight: 600;
            }
            .movieinfo__content {
              .movie__title {
                color: $black-text;
                .age__restrict {
                  padding: 0px 4px 2px;
                  border-radius: 3px;
                  font-size: 14px;
                  color: white;
                  background-color: $orangered;
                  margin-right: 5px;
                }
              }
              .movie__ratings {
                p {
                  color: gray;
                }
              }
            }
          }
          .movie__schedule {
            width: 100%;
            img {
              width: 30px;
              height: 30px;
              margin-top: 10px;
              margin-left: 10px;
              // filter: brightness(160%);
            }
            .movie__time {
              display: grid;
              grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
              width: 100%;
              a {
                text-decoration: none;
                font-size: 25px;
                font-weight: 600;
                color: $green;
                // color: #12c25b;
                &:hover {
                  color: $orangered;
                  // color: rgb(255, 217, 0);
                }
              }
            }
          }
        }
      }
    }
  }
}

// Cinema News
.cinema__news {
  .movie__container {
    .nav {
      justify-content: center;
      margin: 40px 0;
      a.active {
        font-weight: 600;
        color: $white;
        text-transform: uppercase;
        border: 1px solid $purple-primary;
        width: 200px;
        background-color: $purple-primary;
      }
      a {
        color: $black;
        transition: all 0.3s;
        width: 150px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid $purple-primary;
        &:hover {
          font-weight: 600;
        }
      }
      .current__movie {
        a {
          border-radius: 10px 0 0 10px;
        }
      }
      .upcoming__movie {
        a {
          border-radius: 0 10px 10px 0;
        }
      }
    }
  }
  .grid__news {
    @include grid($twocolumn, 25px);
    .news__content {
      @include newsStyle(300px);
    }
  }
  .grid__news2 {
    @include grid($threecolumn, 35px);
    .news__content {
      @include newsStyle(200px);
    }
    .more__news {
      grid-template-rows: 1fr 1fr 1fr 1fr;
      .news__items {
        img {
          height: 60px;
          width: 60px;
          display: flex;
          justify-content: center;
          align-items: center;
        }
        h4 {
          font-weight: 400;
          font-size: 20px;
          display: inline;
          text-align: center;
        }
      }
    }
  }
}

//Email

//APP
.app {
  background-color: grey;
  height: 500px;
  .app__container {
    @include grid($twocolumn, 0);
    .app__info {
      color: #fff;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: left;
      text-align: left;
      button {
        width: 250px;
        background: $purple-gradient;
        box-shadow: none;
        border-radius: 5px;
      }
    }
    .app__image {
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        height: 400px;
      }
    }
  }
}

// Footer
footer {
  background: #000;
  p {
    font-size: 16px;
    color: $white;
  }
  .footer__container {
    margin: 0 auto;

    h5 {
      color: $white;
      font-size: 16px;
      font-weight: 600;
      text-transform: uppercase;
      display: inline-block;
      position: relative;
      &:after {
        content: "";
        transition: all 0.4s;
        position: absolute;
        width: 30%;
        height: 3px;
        bottom: -5px;
        left: 0;
        background: $purple-gradient-light;
      }
    }

    .col-md-3:hover {
      h5:after {
        width: 100%;
      }
    }
    .footer__news,
    .footer__movie {
      ul {
        list-style: none;
        li {
          position: relative;
          a {
            font-weight: 400;
            font-size: 16px;
            color: $white;
            width: 100%;
            position: relative;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            padding-left: 15px;
            &:hover {
              color: $yellow-primary;
            }
          }
          &:before {
            content: "";
            position: absolute;
            border-radius: 50%;
            top: 50%;
            left: 0px;
            width: 5px;
            height: 5px;
            background: $purple-primary;
          }
        }
      }
    }
    .footer__partner {
      .partners {
        display: grid;
        grid-gap: 10px;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        img {
          width: 30px;
          height: 30px;
        }
      }
    }
    .copyright {
      font-weight: 400;
      span {
        color: $yellow-primary;
      }
    }
  }
}

.cine-container {
  width: 835px;
}
