@import "./variables.scss";
a {
  display: inline-block;
}
p {
  margin: 0;
}
* {
  font-family: "Grotesque";
  font-weight: 500;
  font-size: 18px;
}

.divider {
  width: 1px;
  height: 30px;
  background: $gray-light;
}

.cinema__btn {
  background: $purple-gradient-light;
  padding: 7px 30px;
  border-bottom: 3px solid $purple-shadow;
  color: $white;
  font-size: 18px;
  font-weight: 600;
  border-radius: 10px;
  &:hover {
    opacity: 0.9;
    border: none;
    color: $white !important;
  }
}

// Header
.cinema__header {
  overflow: visible !important;
  background: $purple-gradient;
  padding: 10px 30px;
  .lnr {
    font-size: 35px;
    color: $white;
  }
  .center__navbar {
    @media screen and (min-width: 768px) {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
  .right__navbar {
    a {
      font-size: 10px;
    }
    .custom-select {
      appearance: none;
      background: url("assets/img/arrow-down.svg") 90% / 10% no-repeat;
      width: unset;
      color: white;
      border: none;
      box-shadow: none;
      position: relative;
    }
  }
  .nav-item {
    &:hover a {
      color: $yellow-primary;
    }
    a {
      color: $white;
      font-size: 20px;
    }
  }
}

// Carousel
.cinema__carousel {
  height: 520px;
  .carousel-inner {
    img {
      width: 100%;
      height: 520px;
    }
  }
}

// Ticker Form
.cinema__ticketform {
  position: relative;
  height: 70px;
  top: -30px;
  margin: 0 auto;
  width: 780px;
  background: $white;
  box-shadow: 0px 6px 20px -10px rgba(0, 0, 0, 0.75);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  .btn__container {
    width: 100%;
    height: 100%;
    padding: 0 25px;
    .btn {
      margin: auto 0;
      box-shadow: none;
    }
    .dropdown {
      padding: 0 !important;
      .dropdown-select {
        width: 95%;
        text-align: left;
        padding: 0;
        font-size: 16px;
        font-weight: 500;
        transform: none;

        .lnr {
          color: $yellow-primary;
        }
        p {
          text-transform: none;
          margin: 0;
          text-overflow: ellipsis;
          overflow: hidden;
          white-space: nowrap;
        }
      }
      .dropdown-menu {
        border-radius: 5px;
        width: max-content;
        margin: 0 !important;
        top: 80% !important;
        max-height: 350px;
        overflow-y: scroll;
        .dropdown-header {
          padding: 0;
          padding-left: 10px;
          font-size: 15px;
        }
        li {
          padding: 3px 5px;
          a {
            display: block;
            font-size: 16px;
            padding: 0 5px;
          }
          &:hover {
            background: $yellow-primary;
          }
        }
      }
    }
  }
}

// Movie Gallery
.cinema__movie {
  .movie__container {
    .nav {
      justify-content: center;
      margin: 40px 0;
      a.active {
        font-weight: 600;
        color: $white;
        text-transform: uppercase;
        border: 1px solid $purple-primary;
        width: 200px;
        background-color: $purple-primary;
      }
      a {
        color: $black;
        transition: all 0.3s;
        width: 150px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid $purple-primary;
        &:hover {
          font-weight: 600;
        }
      }
      .current__movie {
        a {
          border-radius: 10px 0 0 10px;
        }
      }
      .upcoming__movie {
        a {
          border-radius: 0 10px 10px 0;
        }
      }
    }

    .tab-content {
      padding: 0 20px;
      display: flex;
      justify-content: center;
      .tab__grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-gap: 15px;
        @media screen and (min-width: 986px) {
          grid-gap: 25px;
        }
        .movie__item {
          position: relative;
          @media screen and (min-width: 986px) {
            min-height: 270px;
            width: 190px;
          }

          img {
            border-radius: 12px;
            width: 100%;
            height: 100%;
          }
          .movie__content {
            margin-top: 10px;
            position: relative;
            .btn {
              position: absolute;
              transition: 0.3s;
              opacity: 0;
              visibility: hidden;
              top: 0;
              left: 0;
              margin: 0;
              border: 0;
              width: 100%;
              font-size: 16px;
              @media screen and (min-width: 986px) {
                font-size: 18px;
              }
              @media screen and (min-width: 868px) {
                font-size: 17px;
              }
            }
            h5,
            p {
              display: none;
              @media screen and (min-width: 545px) {
                display: block;
                opacity: 1;
                visibility: visible;
              }
              transition: 0.3s;
            }
            h5 {
              font-size: 17px;
              @media screen and (min-width: 986px) {
                font-size: 18px;
              }
              line-height: 20px;
              height: 40px;
              font-weight: 600;
              width: 100%;
              overflow: hidden;
              text-overflow: ellipsis;
            }
            p {
              font-size: 14px;
              @media screen and (min-width: 986px) {
                font-size: 16px;
              }

              margin: 0;
            }
          }
          .movie__img {
            width: 100%;
            border-radius: 12px;
            overflow: hidden;
            height: 100%;
            position: relative;
            .overlay {
              transition: 0.4s;
              height: 150%;
              width: 170%;
              position: absolute;
              top: 65%;
              left: -140%;
              transform: rotate(45deg);
              background: $yellow-primary;
              a {
                color: $black;
                .lnr {
                  font-size: 2vw;
                  @media screen and (min-width: 986px) {
                    font-size: 18px;
                  }
                  transition: 0.3s;
                  position: absolute;
                  left: 48%;
                  top: 2%;
                  transform: rotate(75deg);
                }
              }
            }
          }
          &:hover {
            .movie__content {
              .btn {
                display: none;
                @media screen and (min-width: 545px) {
                  display: block;
                  opacity: 1;
                  visibility: visible;
                }
              }
              h5,
              p {
                opacity: 0;
                visibility: hidden;
              }
            }
            .movie__img {
              .overlay {
                height: 150%;
                opacity: 0.9;
                top: -25%;
                left: -40%;
                .lnr {
                  left: 53%;
                  top: 49%;
                  transform: translate(-50%, -50%) rotate(75deg);
                  font-size: 35px;
                }
              }
            }
          }
        }
      }
    }
  }
}

// Cinema Ad
.cinema__ad {
  text-align: center;
  height: 200px;
  margin-top: 40px;
  background-image: url("./assets/img/quangcao39k.jpg");
  background-repeat: no-repeat;
  background-size: auto;
  color: white;
  h1 {
    font-weight: 600;
    font-size: 60px;
  }
}

// Cinema Form
.cinema__cinemaform {
  flex-direction: column;
  width: 100%;
  align-items: center;
  padding: 0 20px;
  h2 {
    font-weight: 600;
    display: inline;
    margin: 40px 0;
    position: relative;
    &:after {
      content: "";
      position: absolute;
      transition: all 0.4s;
      width: 100%;
      height: 3px;
      border-radius: 10px;
      background: $purple-gradient-light;
    }
  }
  .cinemaform__container {
    background: #fff;
    border-radius: 12px;
    border: 1px solid $gray-light;
    .nav__main {
      padding: 15px 0;
      border-bottom: 1px solid $gray-light;
      .nav-link {
        margin: 0 15px;
        height: 65px;
        width: 65px;
        padding: 0;
        border-radius: 50%;
        &:hover {
          img {
            opacity: 1;
          }
        }
        &.active {
          position: relative;
          img {
            opacity: 1;
          }
          &:after {
            content: "";
            position: absolute;
            bottom: -10px;
            left: 50%;
            transform: translateX(-50%);
            width: 6px;
            height: 6px;
            border-radius: 50%;
            background: $purple-primary;
          }
        }
        img {
          opacity: 0.5;
          height: 100%;
          width: 100%;
        }
      }
    }
    .tab-content {
      height: 500px;
      & > .active {
        display: flex;
        flex-direction: row;
      }
      .tab-pane {
        .nav__overflow {
          height: 500px;
          overflow-y: scroll;
          .nav {
            padding: 10px;
            border-right: 1px solid $gray-light;
            flex-direction: column;
            .nav-link {
              width: 100%;
              background: $white;
              border-radius: 0;
              border-bottom: 1px solid $gray-light;
              opacity: 0.5;
              &.active,
              &:hover {
                opacity: 1;
              }

              .brand__branch {
                width: 45px;
                height: 45px;
                margin-top: 5px;
                img {
                  width: 100%;
                  height: 100%;
                }
              }
              .branch__info {
                flex-direction: column;
                width: 150px;
                p,
                span {
                  font-size: 11px;
                  margin: 0;
                  color: black;
                }
                .branch__name {
                  font-size: 13px;
                  color: $purple-primary;
                  span {
                    font-size: 13px;
                  }
                }
                .branch__address {
                  text-overflow: ellipsis;
                  overflow: hidden;
                  white-space: nowrap;
                }
                .branch__more {
                  color: orangered;
                }
              }
            }
          }
        }

        .tab-content {
          height: 100%;
          overflow-y: scroll;
        }
      }
    }
  }
}

// Cinema News
.cinema__news {
  .movie__container {
    .nav {
      justify-content: center;
      margin: 40px 0;
      a.active {
        font-weight: 600;
        color: $white;
        text-transform: uppercase;
        border: 1px solid $purple-primary;
        width: 200px;
        background-color: $purple-primary;
      }
      a {
        color: $black;
        transition: all 0.3s;
        width: 150px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid $purple-primary;
        &:hover {
          font-weight: 600;
        }
      }
      .current__movie {
        a {
          border-radius: 10px 0 0 10px;
        }
      }
      .upcoming__movie {
        a {
          border-radius: 0 10px 10px 0;
        }
      }
    }
  }
  .grid__news {
    width: 835px;
    @include grid($twocolumn, 25px);
    .news__content {
      @include newsStyle(230px);
    }
  }
  .grid__news2 {
    width: 835px;
    @include grid($threecolumn, 35px);
    .news__content {
      @include newsStyle(140px);
    }
    .more__news {
      grid-template-rows: 1fr 1fr 1fr 1fr;
      .news__items {
        margin-bottom: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        img {
          border-radius: 5px;
          height: 50px;
          width: 50px;
        }
        .text__container {
          padding-left: 5px;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          width: 200px;
          height: 50px;
          h4 {
            font-weight: 400;
            font-size: 17px;
            display: inline;
          }
        }
      }
    }
  }
}

//Email
.email {
  background: $purple-gradient;
  width: 100%;
  .email__container {
    width: 950px;
    margin: 0 auto;
    @include grid($threecolumn, 35px);
    .register {
      text-align: left;
      padding: 40px 0;
      display: flex;
      align-items: center;
      p {
        font-size: 20px;
        font-weight: 600;
        color: white;
        span {
          font-size: 20px;
          font-weight: 600;
          color: $yellow-primary;
        }
      }
    }

    .email__input {
      padding: 40px 0;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      input {
        width: 90%;
        border-radius: 8px;
        box-shadow: none;
      }
    }

    .platforms {
      text-align: right;
      padding: 40px 0;
      display: flex;
      justify-content: center;
      align-items: center;
      a {
        .icon__circle:hover {
          background-color: $yellow-primary;
        }
      }
      .icon__circle {
        width: 40px;
        height: 40px;
        background-color: #aa98df;
        display: inline-block;
        border-radius: 50%;
        margin-right: 10px;
        position: relative;
        .lnr-facebook {
          position: absolute;
          color: white;
          top: 11px;
          left: 14px;
        }
        .lnr-twitter {
          position: absolute;
          color: white;
          top: 11px;
          left: 12px;
        }
        .lnr-google-plus {
          position: absolute;
          color: white;
          top: 11px;
          left: 10px;
        }
        .lnr-instagram {
          position: absolute;
          color: white;
          top: 11px;
          left: 12px;
        }
      }
    }
  }
}
//APP
.app {
  background-color: grey;
  .app__container {
    width: 835px;
    @include grid($twocolumn, 0);
    .app__info {
      padding: 25px 0;
      color: #fff;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: left;
      text-align: left;
      font-weight: bold;
      button {
        margin: 25px 0 10px;
        width: 250px;
        background: $purple-gradient;
        box-shadow: none;
        border-radius: 5px;
      }
    }
    .app__image {
      // display: flex;
      // justify-content: center;
      // align-items: center;
      text-align: right;
      img {
        height: 480px;
        padding: 50px 0;
      }
    }
  }
}
// Footer
footer {
  background: #000;
  p {
    font-size: 16px;
  }
  .footer__container {
    margin: 0 auto;

    h5 {
      font-size: 16px;
      font-weight: 600;
      text-transform: uppercase;
      display: inline-block;
      position: relative;
      &:after {
        content: "";
        transition: all 0.4s;
        position: absolute;
        width: 30%;
        height: 3px;
        bottom: -5px;
        left: 0;
        background: $purple-gradient-light;
      }
    }

    .col-md-3:hover {
      h5:after {
        width: 100%;
      }
    }
    .footer__news,
    .footer__movie {
      ul {
        list-style: none;
        li {
          position: relative;
          a {
            font-weight: 400;
            font-size: 16px;
            width: 100%;
            position: relative;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            padding-left: 15px;
            &:hover {
              color: $yellow-primary;
            }
          }
          &:before {
            content: "";
            position: absolute;
            border-radius: 50%;
            top: 50%;
            left: 0px;
            width: 5px;
            height: 5px;
            background: $purple-primary;
          }
        }
      }
    }
    .footer__partner {
      .partners {
        display: grid;
        grid-gap: 10px;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        img {
          width: 30px;
          height: 30px;
        }
      }
    }
    .copyright {
      font-weight: 400;
      span {
        color: $yellow-primary;
      }
    }
  }
}

.cine-container {
  width: 835px;
}
