//button, header
$purple-gradient: linear-gradient(
  to left,
  #7157c9 0%,
  #6449bd 30%,
  #5027db 70%,
  #540fed 100%
);
$purple-gradient-light: linear-gradient(
  to left,
  #8d77d4 0%,
  #5027db 70%,
  #540fed 100%
);

$purple-shadow: #aa98df;

//logo, navigation dot, navigation arrow, arrow-down:
$yellow-primary: #ffd445;
//navs, footer:
$purple-primary: #5943ff;
//social media icon background:
$purple-light: #7362f4;
//divider:
$gray-light: #d5d5d5;
//white:
$white: #fff;
//black:
$black: #000;

@font-face {
  font-family: "Grotesque";
  src: url("assets/font/DarkerGrotesque-Bold.ttf") format("opentype");
  font-weight: 700;
}
@font-face {
  font-family: "Grotesque";
  src: url("assets/font/DarkerGrotesque-SemiBold.ttf") format("opentype");
  font-weight: 600;
}
@font-face {
  font-family: "Grotesque";
  src: url("assets/font/DarkerGrotesque-Medium.ttf") format("opentype");
  font-weight: 500;
}
@font-face {
  font-family: "Grotesque";
  src: url("assets/font/DarkerGrotesque-Regular.ttf") format("opentype");
  font-weight: 400;
}
@font-face {
  font-family: "Grotesque";
  src: url("assets/font/DarkerGrotesque-Light.ttf") format("opentype");
  font-weight: 300;
}
@font-face {
  font-family: "Linearicons-Free";
  src: url("assets/font/Linearicons-Free.eot?g78a5s");
  src: url("assets/font/Linearicons-Free.eot?g78a5s#iefix")
      format("embedded-opentype"),
    url("assets/font/Linearicons-Free.ttf?g78a5s") format("truetype"),
    url("assets/font/Linearicons-Free.woff?g78a5s") format("woff"),
    url("assets/font/Linearicons-Free.svg?g78a5s#Linearicons-Free")
      format("svg");
  font-weight: normal;
  font-style: normal;
}

.lnr {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "Linearicons-Free" !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.lnr-happy:before {
  content: "\e906";
}
.lnr-plus:before {
  content: "\e907";
}
.lnr-playbtn .path1:before {
  content: "\e908";
  color: rgba(0, 0, 0, 0.35);
}
.lnr-playbtn .path2:before {
  content: "\e909";
  margin-left: -1em;
  color: none;
}
.lnr-playbtn .path3:before {
  content: "\e90a";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.lnr-comment:before {
  content: "\e900";
}
.lnr-indicator:before {
  content: "\e901";
  color: #fff;
}
.lnr-logo:before {
  content: "\e902";
  color: #ffd445;
}
.lnr-user1:before {
  content: "\e903";
  color: #fff;
}
.lnr-message-square:before {
  content: "\e904";
}
.lnr-thumbs-up1:before {
  content: "\e905";
}
.lnr-envelope1:before {
  content: "\e818";
}
.lnr-user:before {
  content: "\e82a";
}
.lnr-map-marker:before {
  content: "\e833";
}
.lnr-bubble:before {
  content: "\e83f";
}
.lnr-thumbs-up:before {
  content: "\e86d";
}
.lnr-menu:before {
  content: "\e871";
}
.lnr-chevron-down:before {
  content: "\e874";
}
.lnr-arrow-up:before {
  content: "\e877";
}
.lnr-arrow-left:before {
  content: "\e879";
}
.lnr-arrow-right:before {
  content: "\e87a";
}
.lnr-chevron-left-circle:before {
  content: "\e889";
}
.lnr-chevron-right-circle:before {
  content: "\e88a";
}
.lnr-twitter:before {
  content: "\f099";
}
.lnr-facebook:before {
  content: "\f09a";
}
.lnr-facebook-f:before {
  content: "\f09a";
}
.lnr-google-plus:before {
  content: "\f0d5";
}
.lnr-envelope:before {
  content: "\f0e0";
}
.lnr-angle-left:before {
  content: "\f104";
}
.lnr-angle-right:before {
  content: "\f105";
}
.lnr-angle-up:before {
  content: "\f106";
}
.lnr-angle-down:before {
  content: "\f107";
}
.lnr-instagram:before {
  content: "\f16d";
}
.lnr-play2:before {
  content: "\ea15";
}
.lnr-play3:before {
  content: "\ea1c";
}
.lnr-share2:before {
  content: "\ea82";
}

//News column
$twocolumn: 1fr 1fr;
$threecolumn: 1fr 1fr 1fr;

@mixin grid($numbersofcolumn, $margin-top) {
  margin-top: $margin-top;
  display: grid;
  grid-template-columns: $numbersofcolumn;
  grid-gap: 15px;
}

@mixin newsStyle($news-image-height) {
  h4 {
    font-weight: 600;
    font-size: 20px;
  }
  p {
    font-size: 16px;
  }
  .news__image {
    img {
      height: $news-image-height;
      width: 100%;
      border-radius: 7px;
    }
  }
  .news__title {
    width: 100%;
    height: 50px;
  }
  .news__description {
    width: 100%;
    height: 75px;
  }
  .news__icon {
    .lnr {
      padding-top: 5px;
      font-size: 20px;
      color: grey;
      font-weight: 400;
      margin: 10px;
    }
    span {
      color: grey;
    }
    img {
      height: 20px;
      margin: 15px;
    }
  }
}
